<%= simple_form_for [@game, @player_action] do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <%= f.input :player_id,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'players-wrapper',
                      item_wrapper_class: 'players-item',
                      input_html: { class: 'players-selector' },
                      collection: @players.first(7) %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <%= f.input :kind,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'actions-wrapper',
                      item_wrapper_class: 'actions-item',
                      input_html: { class: 'actions-selector' },
                      collection: PlayerAction::TYPE_OF_ACTIONS.first(6) %>
        </div>

        <div class="row justify-content-center">
          <fieldset class="w-75">
            <%= f.input :position,
                        as: :radio_buttons,
                        legend_tag: false,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'position-wrapper',
                        item_wrapper_class: 'position-item',
                        input_html: { class: 'position-selector' },
                        # label_method: lambda { |position| render "games/position", position: position },
                        collection: PlayerAction::POSITIONS %>
          </fieldset>
        </div>

        <div class="row">
          <%= f.input :kind_extra,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'actions-wrapper',
                      item_wrapper_class: 'actions-item',
                      input_html: { class: 'actions-selector' },
                      collection: PlayerAction::TYPE_OF_ACTIONS.last(4) %>
        </div>

      </div>

      <div class="col-md-2">
        <div class="row">
          <%= f.input :opponent_id,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'opponents-wrapper',
                      item_wrapper_class: 'opponents-item',
                      input_html: { class: 'opponents-selector' },
                      collection: @opponents.first(7) %>
        </div>
      </div>

    </div>
  </div>

    <%= f.input :result, as: :radio_buttons, collection: PlayerAction::SHOT_RESULTS %>

      <%= f.submit 'Valid' %>


<% end %>





<%# <style>
  #player-list input:checked + label {
    color: red;
  }
</style> %>
