<%= simple_form_for [@game, @player_action], html: { data: { controller: "game"} } do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <%= f.input :player_id,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'players-wrapper',
                      item_wrapper_class: 'players-item',
                      input_html: { class: 'players-selector' },
                      collection: @players.first(7) %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row d-flex">
          <%= f.input :kind,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'actions-wrapper',
                      item_wrapper_class: 'actions-item',
                      input_html: { class: 'actions-selector', data: { game_target: 'kind', action: 'change->game#toggleKind' } },
                      collection: PlayerAction::TYPE_OF_ACTIONS.first(6) %>
        </div>

        <div class="row justify-content-center mb-3" style="background-color:#B9D9EB">
          <fieldset class="w-75 mt-3">
            <%= f.input :position,
                        as: :radio_buttons,
                        legend_tag: false,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'position-wrapper',
                        item_wrapper_class: 'position-item',
                        input_html: { class: 'position-selector' },
                        # label_method: lambda { |position| render "games/position", position: position },
                        collection: PlayerAction::POSITIONS %>
          </fieldset>
        </div>

        <div class="row">
          <%= f.input :kind_extra,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'actions-wrapper',
                      item_wrapper_class: 'actions-item',
                      input_html: { class: 'actions-selector', data: { game_target: 'kindExtra', action: 'change->game#toggleKind' } },
                      collection: PlayerAction::TYPE_OF_ACTIONS.last(4) %>
        </div>

        <div class="row">
          <%= f.input :result,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'results-wrapper',
                      item_wrapper_class: 'results-item',
                      input_html: { class: 'results-selector' },
                      collection: PlayerAction::SHOT_RESULTS %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="row">
          <%= f.input :opponent_id,
                      as: :radio_buttons,
                      legend_tag: false,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'opponents-wrapper',
                      item_wrapper_class: 'opponents-item',
                      input_html: { class: 'opponents-selector' },
                      collection: @opponents.first(7) %>
        </div>
      </div>
    </div>

    <div>
      <%= f.submit 'Valid' %>
    </div>
  </div>
<% end %>


<%# <style>
  #player-list input:checked + label {
    color: red;
  }
</style> %>
