<%= @game.team.name %>
<%= @game.date %>
<%= @game.tournament %>
<%= @game.location %>


<div class="container">
  <%= simple_form_for [@game, @player_action] do |f| %>

  <div class="form-inputs">
    <%= f.input :player_id, as: :radio_buttons,label: '',   collection: @players + @opponents %>
    <%#= f.input :player_id, as: :radio_buttons, collection: @opponents %>

    <%= f.input :kind, as: :radio_buttons, collection: PlayerAction::TYPE_OF_ACTIONS %>
    <%= f.input :position, as: :radio_buttons, collection: PlayerAction::POSITION %>

    <%= f.input :result, as: :radio_buttons, collection: PlayerAction::RESULT %>
  </div>
    <%= f.submit 'End Game' %>

  <% end %>
</div>





<table class="table">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Score</th>
      <th scope="col">Cap</th>
      <th scope="col">Player</th>
    </tr>
  </thead>
  <tbody>


<% @player_actions.each do |action| %>
    <tr>
      <% if (action.kind == 'shot' && action.position == 'C2M') %>
        <td><%= 'Centre shot'%> - <%= action.result %></td>
      <% elsif %>
        <td> <%= 'Action shot' %> - <%= action.result %></td>
      <%end %>

         <td><%= @game_result %> x <%= @opponent_result %></td>

      <td>#</td>
      <td><%= action.player.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Download PDF", pdf_game_path(@game, format: :pdf) %>
