<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <%= @game.team.name %>
    <%= @game.date %>
    <%= @game.tournament %>
    <%= @game.location %>
  </div>
</div>

<div class="row">
  <%= render "games/form", game: @game %>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Score</th>
      <th scope="col">Cap</th>
      <th scope="col">Player</th>
    </tr>
  </thead>
  <tbody>


<% @player_actions.each do |action| %>
    <tr>
      <% if (action.kind == 'shot' && action.position == 'C2M') %>
        <td><%= 'Centre shot'%> - <%= action.result %></td>
      <% elsif %>
        <td> <%= 'Action shot' %> - <%= action.result %></td>
      <%end %>

         <td><%= @game_result %> x <%= @opponent_result %></td>

      <td>#</td>
      <td><%= action.player.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
