<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <%# <%= @game.team.name %>
    <%= render "game_messages", player_action: @player_actions.last %>
    <%= @player_actions.last.player.name %>
  </div>
</div>

<div class="row">
  <%= render "games/form", game: @game %>
</div>


<%# <%= link_to "Download PDF", pdf_game_path(@game, format: :pdf) %>
