<%= @game.team.name %>
<%= @game.date %>
<%= @game.tournament %>
<%= @game.location %>


<div class="container">
  <%= simple_form_for [@game, @player_action] do |f| %>
    <%= f.input :player_id, as: :radio_buttons, collection: @players + @opponents %>
    <%#= f.input :player_id, as: :radio_buttons, collection: @opponents %>

    <%= f.input :kind, as: :radio_buttons, collection: PlayerAction::KIND %>
    <%= f.input :position, as: :radio_buttons, collection: PlayerAction::POSITION %>

    <%= f.input :result, as: :radio_buttons, collection: PlayerAction::RESULT %>

    <%= f.submit 'End Game' %>
  <% end %>
</div>


<% @player_actions.each do |action| %>
<p><%= action %></p>
<% end %>
