<div class="container">
  <div class="">
    <%= simple_form_for [@player] do |f| %>
    <%= f.input :name, input_html: {data: {visibility_target: "nameInput"}} %>
    <%= f.input :nationality %>
    <%= f.input :birthdate, start_year: Time.now.year - 123, end_year: Time.now.year - 18, order: %i(year) %>
    <%= f.input :gender, collection: ['Female', 'Male'] %>
    <%= f.input :handedness, collection: ['Ambidexterity', 'Left-Handed', 'Right-Handed'] %>
    <%= f.input :position, collection: ['Field Player', 'Goalkeeper'] %>
    <%= f.input :description, as: :text, :input_html => { 'rows' => 1 } %>
    <%= f.input :photo, as: :file %>
    <%= f.input :available %>

    <%= f.submit "Create Player", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
